#loginDiv{
    margin: auto;
    width: fit-content;
    border-radius: 20px;
    /*change the color to match the desired design*/
    Background-color: rgba(100, 172, 172, 0.8);
    padding: 25px;

    input[type=text] {
        background-color: #fbff00;
        color: rgb(206, 49, 49);
    }
    
    ::placeholder {
        color: rgb(0, 60, 255);
    }

}

#loginButton{
    Background-color: black;
    color: white;
}